//- .vector
//- 	img(src="./assets/images/new-vline/vector.png", alt="")
footer
	.container
		.row
			.list-social-media.col-md-8
				p
					!= "Tải ứng dụng <span>VLINE</span> tại"
				.social__wrapper
					ul
						li.google
							a(target='_blank', href='')
								img(src="./assets/images/new-vline/google-store.png", alt="", srcset="")
						li.apple
							a(target='_blank', href='')
								img(src="./assets/images/new-vline/app-store.png", alt="", srcset="")
						li
							a(target='_blank', href='')
								img(src="./assets/images/new-vline/vline-footer.png", alt="", srcset="")
						li
							a(href="")
								img(src="./assets/images/new-vline/facebook.png", alt="", srcset="")
						li
							a(href="#")
								img(src="./assets/images/new-vline/insta.png", alt="", srcset="")
			.copy-right.col-md-4
				p Copyright © NAVER Vietnam Ltd.
				p Privacy Policy Cookies Policy Terms of Use