header
	.container
		.row.no-gutters
			.button-mobile
				span.line
			.wrapper-header
				.main-menu
					.list-logo
						.item
							a(href="#")
								img(src="./assets/images/new-vline/logo-heartbeat.png", alt="", srcset="")
					.list-nav
						.nav-item
							a(href="").login
								img.ofc(src="./assets/images/new-vline/logo-vline.png", alt="", srcset="")
							.avatar(islogin="false")
								img.ofc(src="./assets/images/new-vline/user-icon.png", alt="", srcset="")
				.navBar
					.nav-item
						a.nav-link(href="javascript:;" data-scroll-to="1") TRANG CHỦ
					.nav-item
						a.nav-link(href="javascript:;" data-scroll-to="2") VLIVE AWARDS
					.nav-item
						a.nav-link(href="javascript:;" data-scroll-to="3") BÌNH CHỌN
					.nav-item
						a.nav-link(href="javascript:;" data-scroll-to="4") V HEARTBEAT
					.nav-item
						a.nav-link(href="javascript:;" data-scroll-to="5") QUY ĐỊNH
