block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#fb-root
		#loading
			.logo-loader
				img(src="./assets/images/logo.png", alt="")
			.progstat-wrapper Loading:
				span#progstat 0
				| %
			#progress
		//- main content
		block header
			include _header.pug
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block footer
			include _footer.pug
		.d-none
			.form-vote#form-vote
				.title-form NHẬP THÔNG TIN CÁ NHÂN
				form(action="#")
					.form-group
						label Họ và tên
							span *
						.input-group
							input#Form-Name(type="text" placeholder="Nhập thông tin")
					.form-group
						label Số CMND/ Thẻ Căn cước/ Hộ chiếu
							span *
						.input-group
							input#Form-Identity(type="text" placeholder="Nhập thông tin")
					.form-group
						label Số điện thoại
							span *
						.input-group
							input#Form-Phone(type="text" placeholder="Nhập thông tin")
					.form-group
						label Email
							span *
						.input-group
							input#Form-Email(type="text" placeholder="Nhập địa chỉ Email")
				.desc
					ul
						li Công ty TNHH Deloitte Việt Nam sẽ là đơn vị chịu trách nhiệm lựa chọn người chiến thắng một cách độc lập cho chương trình này.
						li Bằng việc nhập thông tin tại các trường quy định và ấn nút “Hoàn tất”, bạn đã đồng ý cho phép VLIVE và công ty TNHH Deloitte sử dụng thông tin cá nhân của mình để lựa chọn người may mắn nhận vé tham gia V Heartbeat Year End Party 2019 Powered by Diana.
						li VLIVE đảm bảo thông tin cá nhân của bạn sẽ không được chia sẻ cho bên thứ 3 nào khác ngoài Công ty TNHH Deloitte.
				.note Thông tin cá nhân đã đăng ký sẽ không thể thay đổi. Vui lòng kiểm tra kỹ và điền chính xác thông tin này.
				.btn
					button#btn-submit(data-url="#") HOÀN THÀNH
		.d-none
			.form-thank#form-thank
				.logo
					img(src="./assets/images/logo.png", alt="", srcset="")
				.desc
		block scripts
		script(async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v5.0&appId=774359209430335" charset="utf-8")
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")