block var

doctype html

html(lang="en")
	head
		title #{title}
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", href="./css/core.min.css")
		link(rel="stylesheet", href="./css/main.min.css")
	body
		#fb-root
		#loading
			.logo-loader
				img(src="./assets/images/new-vline/logo-heartbeat.png", alt="")
			.progstat-wrapper Loading:
				span#progstat 0
				| %
			#progress
		//- main content
		block header
			include _header.pug
		main
			block main
			#js-page-verify(class=bodyClass hidden)
		block footer
			include _footer.pug
		.d-none
			.form-login#form-thank
				.title(data-warning="VUI LÒNG CHỌN ĐỦ" data-thank="CẢM ƠN ĐÃ BÌNH CHỌN")
					p CẢM ƠN BẠN ĐÃ BÌNH CHỌN
					p Hãy quay lại vào ngày mai để tiếp tục bình chọn nhé
				.button-info.common
					button#login.btn(data-fancybox-close) QUAY LẠI
				.note
					p *Mã vé tham dự sẽ được gửi qua điện thoại trong thời gian tới
		.d-none
			.form-login#form-vote
				.title
					p CẢM ƠN BẠN ĐÃ BÌNH CHỌN
				.sub-title
					p Hãy quay lại vào ngày mai để tiếp tục bình chọn nhé
				.title-form
					p HÃY NHẬP ĐỦ THÔNG TIN
					p ĐỂ CHÚNG TÔI GỬI MÃ VÉ V HEARTBEAT ĐẾN CÁC BẠN
				.info
					form(action="")
						.name
							input(type="text" id="name" placeholder="HỌ VÀ TÊN" )
						.phone
							input(type="text" id="phone" placeholder="SỐ ĐIỆN THOẠI" )
						.cmnd
							input(type="text" id="cmnd" placeholder="CMND/CCCD HOẶC SỐ THẺ HỌC SINH" )
						.button-info.common
							button#btn-submit.btn GỬI VÀ QUAY LẠI
				.note
					p *Mã vé tham dự sẽ được gửi qua điện thoại trong thời gian tới
		input#checkLogin(type='text' hidden value='true')
		.d-none
			.form-login#auto-login(url-redirect="#")
				.title
					p ĐĂNG NHẬP
				.sub-title
					p Đăng nhập bằng tài khoản Facebook và Google sẽ được vote 1 lần/ ngày 
					p Đăng nhập bằng tài khoản VLIVE sẽ được vote 2 lần/ ngày
				.register
					.btn.btn-facebook(data-key="415663406248992")
						a(href="#") Sign up with FaceBook
					.btn.btn-google(data-key="111231613981-4ar5t5o0nmb5aon7f4eal155954didl4.apps.googleusercontent.com")
						a(href="#") Sign up with google
					.btn.btn-vline(data-key="111231613981-4ar5t5o0nmb5aon7f4eal155954didl4.apps.googleusercontent.com")
						a(href="#") Sign up with Vline
		block scripts
		script(type="text/javascript", src="https://www.youtube.com/iframe_api")
		script(type="text/javascript", src='https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3')
		script(src='https://apis.google.com/js/platform.js?onload=onLoadCallback')
		script(type="text/javascript", src="./js/core.min.js")
		script(type="text/javascript", src="./js/main.min.js")