header {
	width              : 100%;
	height             : auto;
	z-index            : 500;
	padding-top: 40px;
	.main-menu {
		display: flex;
		height : auto;
		width  : 100%;
		margin-bottom: 50px;
		.list-logo {
			flex       : 0 0 50%;
			max-width  : 50%;
			height     : 100%;
			display    : flex;
			align-items: center;

			.item {

				position     : relative;
				padding-right: 25px;
				margin-right : 25px;

				&:last-child {
					margin-right : 0;
					padding-right: 0;

					&:after {
						content: none;
					}
				}

				&:after {
					content   : '';
					position  : absolute;
					right     : 0;
					top       : 50%;
					width     : 1px;
					height    : 18px;
					transform : translateY(-50%);
					background: #707070;
				}
			}
		}

		.list-nav {
			flex       : 0 0 50%;
			max-width  : 50%;
			display    : flex;
			align-items: center;

			.nav-item {
				display    : flex;
				align-items: center;

				&:first-child {
					margin-left: auto;
				}

				.avatar {
					padding-right: 15px;

					figure {
						height       : 35px;
						width        : 35px;
						border-radius: 50%;
						background   : #606060;
						overflow     : hidden;
					}
				}

				.login {
					position    : relative;
					margin-right: 45px;
					padding-left: 25px;

					.name,
					.button-login {
						cursor: pointer;
						color : #ffffff;
					}

					&:after {
						content   : '';
						position  : absolute;
						left      : 0;
						top       : 50%;
						width     : 3px;
						height    : 100%;
						transform : translateY(-50%);
						background: #ffffff;
					}
				}

				.list-download {
					display: flex;

					.item {
						margin-right: 15px;

						&:last-child {
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	.button-mobile {
		cursor   : pointer;
		position : relative;
		display  : inline-block;
		flex     : 0 0 24px;
		max-width: 24px;
		height   : 15px;
		display  : none;

		.line {
			position     : absolute;
			content      : '';
			width        : 100%;
			height       : 2px;
			background   : #ffffff;
			top          : 1px;
			border-radius: 10px;

			&:after,
			&:before {
				position     : absolute;
				content      : '';
				width        : 100%;
				height       : 2px;
				background   : #ffffff;
				border-radius: 10px;
			}

			&:after {
				top: 6px;
			}

			&:before {
				top       : 12px;
				transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}

		&.active {
			.line {
				transform       : translate3d(0, 6px, 0) rotate(135deg);
				transition      : transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
				transition-delay: 0.075s;

				&:after {
					opacity: 0;
				}

				&:before {
					top      : -6px;
					transform: translate3d(0, 6px, 0) rotate(90deg);
				}
			}
		}
	}
	.wrapper-header {
		width: 100%;
		z-index: 1;
	}
	.navBar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		z-index: 1;
		.nav-item {
			position: relative;
			padding-bottom: 20px;
			&::after {
				position: absolute;
				content: "";
				background: #ff00f6;
				width: 100%;
				height: 8px;
				bottom: 0;
				left: 0;
			}
			.nav-link {
				font-family: SFUIDisplay-Bold;
				font-size: 29px;
				
			}
		}
	}
	&.active {
		.wrapper-header {
			left: 0;
		}
	}

	@media (max-width: 1024.98px) {
		position       : relative;
		background-size: cover;
		height         : 50px;
		padding-top: 0;
		.button-mobile {
			display: block;
			margin : 15px 0;
			z-index: 2;
		}

		.wrapper-header {
			position  : absolute;
			top       : 0px;
			left      : -100%;
			height    : 100vh;
			display   : block;
			transition: .3s all ease-in-out;
			background: #1A1A1A;
			padding-top: 30px;
			.main-menu {
				flex-direction: column;
				margin-bottom: 20px;
			}
			.list-logo {
				padding-right: 0;

				.item {
					margin: 0 auto 25px;

					&:after {
						content: none;
					}

					&:last-child {
						margin: 0 auto;
					}
				}
			}

			.list-nav {
				padding-left: 0;

				.nav-item {

					&:first-child {
						margin: 0 auto 0px;
					}

					.login {
						.avatar {
							display: block;
						}
					}
				}
			}

			.list-logo,
			.list-nav {
				flex          : 0 0 100%;
				max-width     : 100%;
				flex-direction: column;
				align-items   : flex-start;
				height        : auto;
				margin-top    : 25px;
			}
			.navBar {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.nav-item {
					padding-bottom: 10px;
					&::after {
						height: 2px;
					}
				}
			}
		}
	}
}