.index-1 {
	margin-bottom: 200px;
	.container {
		position: relative;
	}
	.swiper-slide {
		height: auto;
		.video {
			height: 100%;
			width: 100%;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
	.swiper-button-next {
		right: -80px;
		width: 18px;
		height: 34px;
		&::after {
			content: "";
			background: url(../assets/images/new-vline/next-icon.svg) no-repeat;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-button-prev {
		left: -80px;
		width: 18px;
		height: 34px;
		&::after {
			content: "";
			background: url(../assets/images/new-vline/prev-icon.svg) no-repeat;
			width: 100%;
			height: 100%;
		}
	}
	.swiper-pagination {
		bottom: -70px;
		left: 50%;
		transform: translateY(-50%);
		.swiper-pagination-bullet {
			width: 18px;
			height: 18px;
			background: #fff;
			opacity: .63;
			&:not(:last-child) {
				margin-right: 13px;
			}
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
		
	}
}

.index-3 {
	.index-3__wrapper {
		max-width: 1180px;
		margin: 0 auto;
	}
	.row {
		align-items: center;
		margin-right: -30px;
		margin-left: -30px;
		> div {
			padding-left: 30px;
			padding-right: 30px;
		}
		.desc {
		
			.title {
				p {
					font-size: 127px;
					font-family: SFUIDisplay-Heavy;
					line-height: 1;
					text-align: right;
					color: #00fcff;
				}
			}
			.sub-title {
				font-size: 23px;
			}
		}
	}
	.step {
		background: url(../assets/images/new-vline/glow-bg.png) no-repeat;
		background-size: 100% 100%;
		.step__wrapper {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
			padding: 40px 0;
			text-align: center;
			p {
				font-size: 23px;
				&:first-child {
					span {
						font-family: SFUIDisplay-Black;
					}
				}
			}
			p + p {
				font-family: SFUIDisplay-Bold;
			}
		}
	}
}

.index-4 {
	width            : 100%;
	.logo-selection {
		margin-top: 200px;
		margin-bottom: 200px;
		.desc {
			background: linear-gradient(92deg , #8ec8fb 0%, #ffffff 100%);
			position: relative;
			padding-right: 40px;
			padding-left: calc(30% - 323px);
			a {
				justify-content: flex-end;
			}
			.img {
				position: absolute;
				top: 50%;
				right: 70%;
				transform: translateY(-50%);
				width: 323px;
				height: 332px;
			}
		}
	}
	.guide-selection {
		margin-bottom: 50px;
		background: url(../assets/images/new-vline/glow-bg.png) no-repeat;
		background-size: 100% 100%;
		padding: 40px 80px;
		text-align: center;
		max-width: 1130px;
		margin-left: auto;
		margin-right: auto;
		p {
			font-size: 23px;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
			span {
				color: #fff000;
				font-family: SFUIDisplay-Bold;
			}
			strong {
				font-family: SFUIDisplay-Black;
			}
		}
		
	}
	.block--button-catalog {
		margin-bottom: 30px;
		max-width: 1100px;
		margin-left: auto;
		margin-right: auto;
		.row {
			margin-left: -40px;
			margin-right: -40px;
		}
		.item {
			padding: 0 40px;
			flex: 0 0 20%;
			max-width: 20%;
			.item__wrapper {
				display: inline-block;
				font-weight: 400;
				text-align: center;
				vertical-align: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				border: none;
				line-height: 1.5;
				border-radius: 18px;
				width: 170px;
				height: 114px;
				transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
				background: linear-gradient(-48deg , #eac722 0% , #f78354 51%, #fd28cb 100%);
				a {
					display: flex;
					height: 100%;
					align-items: center;
					font-size: 20px;
					color: #ffffff;
					font-family: SFUIDisplay-Black;
					padding: 0 20px;
				}
			}
		}
	}
	.block-vote {
		padding-right: 27.5px;
		padding-left : 27.5px;
		.title {
			text-align: center;
			margin-bottom: 20px;
			h3 {
				display: inline-block;
				font-size: 40px;
				text-align: center;
				background-image:linear-gradient(90deg,#eac722 0%, #f78354 51%, #fd28cb 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: SFUIDisplay-Black;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					right: 105%;
					top: 50%;
					transform: translateY(-50%);
					background: url(../assets/images/new-vline/line.png) no-repeat;
					width: 158px;
					height: 37px;
				}
				&::before {
					content: "";
					position: absolute;
					left: 105%;
					top: 50%;
					transform: translateY(-50%);
					background: url(../assets/images/new-vline/line.png) no-repeat;
					width: 158px;
					height: 37px;
				}
			}
			p {
				color: #fff000;
				font-size: 23px;
				max-width: 480px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		.row-wrapper {
			.list-vote {
				justify-content: center;
				margin        : 30px -27.5px 0;
				padding-bottom: 25px;
				border-bottom : 1px solid rgba($color:#565656, $alpha: .1);

				.item-vote {
					cursor       : pointer;
					padding      : 0 27.5px;
					flex         : 0 0 20%;
					max-width    : 20%;
					margin-bottom: 45px;
				}
			}
		}

		&:nth-child(2) {
			margin-top: 0;
		}

	
	}

	// LAP TOP NHỎ -> DƯỚI 1640px
	@media (max-width: 1639.98px) {

		.block-vote {

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {
				.row-wrapper {
					.list-vote {
						justify-content: center;

						.item-vote {
							flex     : 0 0 25%;
							max-width: 25%;
						}
					}
				}
			}
		}
	}

	@media (max-width:1439.98px) {
		.block-vote {

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {
				.row-wrapper {
					.list-vote {
						.item-vote {
							flex     : 0 0 233px;
							max-width: 233px;
						}
					}
				}
			}
		}
	}

	@media (max-width: 1199.98px) {
		.awards {
			height     : 950px;
			padding-top: 50px;

			.list-awards {
				width: 90%;

				.block-item {
					.item {
						.content {
							ul {
								li {
									width    : 65%;
									font-size: 14px;
								}
							}

							.desc {
								font-size: 18px;
								width    : 65%;
								margin   : 50px auto 0;
							}
						}
					}

					&:last-child {
						.item {
							.content {
								ul {
									right: -85px;
								}
							}
						}
					}
				}
			}
		}

		.block-vote {

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {
				.row-wrapper {
					.list-vote {
						.item-vote {
							flex     : 0 0 203px;
							max-width: 203px;
						}
					}
				}
			}
		}
	}

	// TABLET
	@media (max-width: 1024px) {
		padding-bottom   : 50px;
		background-size  : auto;
		background-repeat: repeat;

		.awards {
			height: 750px;

			.list-awards {
				.block-item {
					.item {
						.content {
							.desc {
								font-size: 18px;
								width    : 70%;
							}
						}
					}

					&:first-child {
						.item {
							.content {
								ul {
									left: 15px;

									li {
										width: 55%;
									}
								}
							}
						}
					}

					&:last-child {
						.item {
							.content {
								ul {
									width: 100%;
									right: -20%;
								}
							}
						}
					}
				}
			}
		}

		.block-vote {
			.row-wrapper {
				.list-vote {
					justify-content: flex-start;

					.item-vote {
						flex     : 0 0 50%;
						max-width: 50%;
					}
				}
			}

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {
				max-width: 100%;

				.row-wrapper {
					.list-vote {
						justify-content: flex-start;

						.item-vote {
							flex     : 0 0 50%;
							max-width: 50%;
						}
					}
				}
			}

			&:nth-child(2) {
				margin-top: 35px;
			}

		}
	}

	// MOBILE
	@media (max-width: 768px) {
		padding-bottom: 25px;

		.awards {
			height     : auto;
			padding-top: 50px;

			.list-awards {
				position       : static;
				top            : 0;
				left           : 0;
				transform      : none;
				flex-wrap      : wrap;
				justify-content: center;
				padding-top    : 15px;
				width          : 100%;

				.block-item {
					flex         : 0 0 60%;
					max-width    : 60%;
					width        : 60%;
					margin-bottom: 15px;

					.item {
						.content {
							.desc {
								font-size: 15px;
							}
						}
					}

					&:nth-child(2) {
						height: 512px;
						width : 60%;

						.item {
							height: 505px;
						}
					}

					&:first-child {
						margin-right: 0;
						order       : 3;
						height      : 557px;

						.item {
							height: 550px;

							.content {
								ul {
									left     : 50%;
									transform: translateX(-50%);

									li {
										width : 65%;
										margin: 0 auto 15px;
									}

								}
							}
						}
					}

					&:last-child {
						margin-left: 0;
						height     : 350px;

						.item {
							height: 343px;

							.content {
								ul {
									right    : 0;
									left     : 50%;
									transform: translateX(-50%);

									li {
										margin: 0 auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.awards {
			.list-awards {
				.block-item {
					flex         : 0 0 90%;
					max-width    : 90%;
					width        : 60%;
					margin-bottom: 15px;
				}
			}
		}

		.block-vote {
			.row-wrapper {
				.list-vote {
					.item-vote {
						flex     : 0 0 100%;
						max-width: 100%;
					}
				}
			}

			&:nth-child(2),
			&:nth-child(4),
			&:nth-child(6),
			&:nth-child(7) {

				.row-wrapper {
					.list-vote {
						.item-vote {
							flex     : 100%;
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

.index-5 {
	.logo-index-5 {
		max-width: 604px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 30px;
		.img {
			width: 100%;
			height: 100%;
		}
	}
	.iamgeMapCanvas {
		position: relative;

		.image-canvas {
			position: absolute;
			top     : 0;
			left    : 0;
			width   : 100%;
			height  : 100%;
			z-index : 2;
		}

		.image-map {
			position: relative;
			z-index : 3;
		}
	}

	map {
		width: 100%;
	}

	area {
		cursor: pointer;
	}
}