.index-2,
.index-3 {
	position: relative;

	figure {
		height: 100%;
	}

	button {
		position  : absolute;
		top       : 50%;
		left      : 50%;
		transform : translate(-50%, -50%);
		background: none;
		border    : none;
	}

	@media (max-width: 1024.98px) {
		height: auto;

		button {
			svg {
				width : 50%;
				height: 50%;
			}
		}
	}
}

.index-4 {
	width            : 100%;
	background-image : url(../assets/images/index/banner-4.jpg);
	background-size  : cover;
	background-repeat: no-repeat;
	padding-bottom   : 127px;

	.awards {
		position   : relative;
		height     : 1200px;
		padding-top: 142px;

		.list-awards {
			display    : flex;
			align-items: center;
			position   : absolute;
			top        : 50%;
			left       : 50%;
			transform  : translate(-50%, -50%);

			.block-item {
				position     : relative;
				width        : 455px;
				height       : 512px;
				border-radius: 17px;
				overflow     : hidden;
				box-shadow   : 0 3px 42px rgba($color: #FF78AC, $alpha: 1.0);
				background   : linear-gradient(to right, rgba(255, 120, 174, 1) 0%, rgba(241, 241, 244, 1) 48%, rgba(84, 246, 255, 1) 100%);
				border       : 1px solid transparent;

				.item {
					position     : absolute;
					left         : 0;
					bottom       : 0;
					width        : 100%;
					height       : 505px;
					border-radius: 17px;
					overflow     : hidden;
					box-shadow   : 0 3px 42px rgba($color: #000000, $alpha: .16);
					z-index      : 1;

					.content {
						margin: 45px 0;
						color : #A7BEBF;

						.icon {
							img {
								display: block;
								margin : 0 auto;
							}
						}

						.title-content {
							font-size : 18px;
							margin-top: 25px;
							text-align: center;
						}

						.desc {
							text-align : center;
							margin     : 95px auto 0;
							width      : 378px;
							font-size  : 18px;
							line-height: 45px;
						}

						ul {
							position  : absolute;
							width     : 350px;
							margin-top: 38px;

							li {
								position     : relative;
								margin-bottom: 20px;
								padding-left : 20px;
								font-size    : 18px;

								&:last-child {
									margin-bottom: 0;
								}

								&:after {
									content      : '';
									position     : absolute;
									left         : 0;
									top          : 8px;
									width        : 8px;
									height       : 8px;
									border-radius: 50%;
									background   : #D2D2D2;
								}
							}
						}
					}
				}

				&:nth-child(2) {
					width     : 533px;
					height    : 612px;
					z-index   : 10;
					box-shadow: none;

					.item {
						height    : 605px;
						background: linear-gradient(to bottom, #0d131b 0, #1b202b 15%, #454559 100%);
					}
				}

				&:first-child {
					margin-right: - 35px;

					.item {
						background: linear-gradient(to left, rgba(13, 19, 27, 1) 0%, rgba(27, 32, 43, 1) 29%, rgba(69, 69, 89, 1) 100%);

						.content {
							ul {
								left: 35px;
							}
						}
					}
				}

				&:last-child {
					margin-left: -35px;

					.item {
						background: linear-gradient(to right, rgba(13, 19, 27, 1) 0%, rgba(27, 32, 43, 1) 29%, rgba(69, 69, 89, 1) 100%);

						.content {
							ul {
								right: 35px;
							}
						}
					}
				}
			}
		}
	}

	.block-vote {
		&:nth-child(2) {
			margin-top: 0;
		}

		&:nth-child(6),
		&:nth-child(7) {
			.row-wrapper {
				max-width: 1300px;
				width    : 100%;
				margin   : 0 auto;

				.list-vote {
					.item-vote {
						flex     : 0 0 25%;
						max-width: 25%;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding-bottom: 50px;

		.awards {
			height     : auto;
			padding-top: 50px;

			.list-awards {
				position       : static;
				top            : 0;
				left           : 0;
				transform      : none;
				flex-wrap      : wrap;
				justify-content: center;
				padding-top    : 15px;

				.block-item {
					flex         : 0 0 60%;
					max-width    : 60%;
					width        : 60%;
					margin-bottom: 15px;

					&:nth-child(2) {
						height: 512px;

						.item {
							height: 505px;
						}
					}

					&:first-child {
						margin-right: 0;

						.item {
							.content {
								ul {
									left     : 50%;
									transform: translateX(-50%);
								}
							}
						}
					}

					&:last-child {
						margin-left: 0;

						.item {
							.content {
								ul {
									right    : 0;
									left     : 50%;
									transform: translateX(-50%);
								}
							}
						}
					}
				}
			}
		}

		.block-vote {
			&:nth-child(2) {
				margin-top: 35px;
			}

			&:nth-child(6),
			&:nth-child(7) {
				max-width: 100%;

				.list-vote {
					.item-vote {
						flex     : 0 0 33.3333333%;
						max-width: 33.3333333%;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		padding-bottom: 25px;

		.awards {
			padding-top: 25px;

			.list-awards {
				margin-top: 15px;
				padding   : 0 15px;

				.block-item {
					flex     : 0 0 100%;
					max-width: 100%;
					width    : 100%;
					height   : 325px;

					.item {
						height: 100%;

						.content {
							margin: 15px 0;

							.title-content {
								font-size : 16px;
								margin-top: 15px;
							}

							ul {
								padding   : 0 25px;
								width     : 100%;
								margin-top: 20px;

								li {
									font-size    : 14px;
									margin-bottom: 10px;
								}
							}
						}
					}

					&:nth-child(2) {
						flex     : 0 0 100%;
						max-width: 100%;
						width    : 100%;
						height   : 325px;

						.item {
							height: 100%;

							.content {
								margin: 15px 0;

								.title-content {
									font-size : 16px;
									margin-top: 15px;
								}

								ul {
									padding   : 0 25px;
									width     : 100%;
									margin-top: 20px;

									li {
										font-size    : 14px;
										margin-bottom: 10px;
									}
								}

								.desc {
									width      : 100%;
									margin-top : 25px;
									font-size  : 14px;
									padding    : 0 25px;
									line-height: 30px;
								}
							}
						}
					}
				}
			}
		}

		.block-vote {

			&:nth-child(6),
			&:nth-child(7) {
				max-width: 100%;

				.list-vote {
					.item-vote {
						flex     : 50%;
						max-width: 50%;
					}
				}
			}
		}
	}
}