.index-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="").img.padding-slide
					.container
						img.ofc(src="./assets/images/new-vline/banner.png", alt="", srcset="")
			.swiper-slide
				a(href="" data-youtube-id="jgZkrA8E5do").video.youtube-video
					div#VYT
			.swiper-slide
				a(href="").img
						img.ofc(src="./assets/images/new-vline/banner-3.png", alt="", srcset="")
	.swiper-pagination
	.swiper-button-next
	.swiper-button-prev