.index-1
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				a(href="").img.padding-slide
					.container
						img.ofc(src="./assets/images/new-vline/FA_KV_Vlive_Done.jpg", alt="", srcset="")
			.swiper-slide
				.video(data-url="")
					iframe(src="https://www.vlive.tv/embed/229567?autoPlay=true",  frameborder='no' scrolling='no' marginwidth='0' marginheight='0' WIDTH='100%' HEIGHT='100%' allowfullscreen)
			.swiper-slide
				a(href="").img
						img.ofc(src="./assets/images/new-vline/banner-3.png", alt="", srcset="")
	.swiper-pagination
	.swiper-button-next
	.swiper-button-prev