.index-3
	figure
		img.ofc(src="./assets/images/index/banner-2.png", alt="", srcset="")
		button(data-fancybox href="https://www.vlive.tv/video/164466")
			img.svg(src="./assets/images/icons/play.svg", alt="")