.index-3(data-scroll-id="2")
	.container
		.container-custom.size-1365px
			.index-3__wrapper
				.row
					.logo.col-6
						.img
							img.ofc.lazyload(src="./assets/images/new-vline/vline-award.png", alt="")
					.desc.col-6
						.title
							p VLIVE AWARDS
						.sub-title
							p Là giải thưởng hằng nằm nhằm tôn vinh những nghệ sĩ có hoạt động nghệ thuật tích cực với những sản phẩm âm nhạc có chất lượng cao và nhận được sự ủng hộ từ đông đảo khán giả.
				.step
					.step__wrapper
						p
							!= "Để có cơ hội cầm trên tay chiếc vé tham gia <span>V HEARTBEAT Year End Party</span>, bạn vui lòng thực hiện đầy đủ 03 bước sau đây"
						p 1. ĐĂNG NHẬP
						p 2. BÌNH CHỌN VLIVE AWARDS
						p 3. NHẬP THÔNG TIN NHẬN VÉ
.vector
	img(src="./assets/images/new-vline/vector.png", alt="")
