.index-4
	.container
		.container-custom.size-1365px
			.logo-selection
				.img
					img(src="./assets/images/new-vline/vline-award-3.png", alt="")
				.desc.btn
					a(href="") BÌNH CHỌN
			.guide-selection
				p
					!= `Ấn <span>"VOTE"</span> dưới hình nghệ sĩ mà bạn muốn bình chọn trong từng hạng mục Sau khi đã bình chọn cho tất cả các hạng mục, hãy chọn <span>"HOÀN TẤT"</span> bên dưới nhé!`
				p
					!= "Lưu ý:  Mỗi số chứng minh nhân dân/ căn cước công dân/ thẻ học sinh được bình chọn 1 lượt 1 ngày. Thời gian bình chọn từ ngày <strong>04/12/2020</strong> – đến ngày <strong>03/01/2021</strong> Một ngày được tính tính từ <strong>0:00:01</strong> tới <strong>23:59:59</strong>"
			.block--button-catalog
				.row
					.item
						.item__wrapper
							a(href="") ARTIST OF THE YEAR
					.item
						.item__wrapper
							a(href="") BEST VPOP COMEBACK
					.item
						.item__wrapper
							a(href="") RISING START OF  THE YEAR
					.item
						.item__wrapper
							a(href="") V MEMBERSHIP COMMUNITY 
					.item
						.item__wrapper
							a(href="") BEST STAGE OF V HEARTBEAT
	.container.block-vote
		.container-custom.size-1365px
			.title
				h3 ARTIST OF THE YEAR
				p Giải thưởng tôn vinh những nghệ sĩ hoạt động nghệ thuật xuất sắc trong năm 2019
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/artist_of_the_year/1.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/artist_of_the_year/2.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/artist_of_the_year/3.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/artist_of_the_year/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/artist_of_the_year/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
	.container.block-vote
		.container-custom.size-1365px
			.title
				h3 BEST VPOP COMBACK
				p Giải thưởng tôn vinh nghệ sĩ sở hữu tác phẩm “comeback” ấn tượng, tạo xu hướng trong năm 2019
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/1.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/2.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/3.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/5.jpg", alt="")
							figcaption
								h5 Bình Chọn
	.container.block-vote
		.container-custom.size-1365px
			.title
				h3 RISING STAR OF THE YEAR
				p Giải thưởng tôn vinh nhóm nhạc hoạt động xuất sắc trong năm 2019
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/1.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/2.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/3.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
	.container.block-vote
		.container-custom.size-1365px
			.title
				h3 V MEMBERSHIP COMMUNITY
				p Giải thưởng tôn vinh những nghệ sĩ hoạt động nghệ thuật xuất sắc trong năm 2019
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/1.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/2.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/3.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/5.jpg", alt="")
							figcaption
								h5 Bình Chọn
	.container.block-vote
		.container-custom.size-1365px
			.title
				h3 BEST STAGE OF V HEARTBEAT
				p Giải thưởng tôn vinh ca sĩ/ nhóm nhạc KPOP có màn trình diễn được yêu thích trên sân khấu V Heartbeat LIVE trong năm 2019.
			.row-wrapper
				.row.no-gutters.list-vote.border-0
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/1.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/2.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/3.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/4.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/5.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=6)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/6.jpg", alt="")
							figcaption
								h5 Bình Chọn
					.item-vote(data-value=7)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/7.jpg", alt="")
							figcaption
								h5 Bình Chọn
	.btn-selection.shadow
		button#btn-vote(data-url="#") HOÀN TẤT
.vector
	img(src="./assets/images/new-vline/vector.png", alt="")