.index-4(data-scroll-id="3")
	.container.selection__wrapper
		.container-custom.size-1365px
			.logo-selection
				.img
					img(src="./assets/images/new-vline/vline-award-3.png", alt="")
				.desc.btn
					a(href="") BÌNH CHỌN
			.guide-selection
				p
					!= `Ấn vào hình <span>"Nghệ sĩ"</span> mà bạn muốn bình chọn trong từng hạng mục`
				p.mb-30
					!= `Sau khi đã VOTE cho tất cả các hạng mục, hãy chọn <span>"HOÀN TẤT"</span> bên dưới nhé!`
				p
					!= "Lưu ý:  Mỗi số chứng minh nhân dân/ căn cước công dân/ thẻ học sinh được VOTE 1 lượt 1 ngày"
				p
					!= `Thời gian VOTE từ ngày <strong>04/12/2020</strong> – đến ngày <strong>03/01/2021</strong>`
				p
					!= "Một ngày được tính tính từ <strong>0:00:01</strong> tới <strong>23:59:59</strong>"
			.block--button-catalog
				.row
					.item
						.item__wrapper
							a(href="javascript:;" data-scroll-to="7") BEST VPOP COMEBACK
					.item
						.item__wrapper
							a(href="javascript:;" data-scroll-to="8") RISING START OF  THE YEAR
					.item
						.item__wrapper
							a(href="javascript:;" data-scroll-to="9") V MEMBERSHIP COMMUNITY 
					.item
						.item__wrapper
							a(href="javascript:;" data-scroll-to="10") BEST. STAGE OF. V HEARTBEAT
	.container.block-vote(data-scroll-id="7")
		.container-custom.size-1365px
			.title
				h3 BEST VPOP COMBACK
				p.mw-694 Giải thưởng tôn vinh nghệ sĩ sở hữu tác phẩm “comeback” ấn tượng,. tạo xu hướng trong năm 2019
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/1.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/2.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/3.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/4.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/best_come_back/5.jpg", alt="")
							figcaption
								h5 VOTE
	.container.block-vote(data-scroll-id="8")
		.container-custom.size-1365px
			.title
				h3 RISING STAR OF THE YEAR
				p.mw-405 Giải thưởng tôn vinh nghệ trẻ tài năng,. được yêu thích trong năm 2020
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/1.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/2.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/3.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/4.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/favourite_group_of_the_year/4.jpg", alt="")
							figcaption
								h5 VOTE
	.container.block-vote(data-scroll-id="9")
		.container-custom.size-1365px
			.title
				h3 V MEMBERSHIP COMMUNITY
				p Giải thưởng tôn vinh công đồng V MEMBERSHIP. hoạt động tích cực trên VLIVE trong năm 2020
			.row-wrapper
				.row.no-gutters.list-vote
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/1.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/2.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/3.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/4.jpg", alt="")
							figcaption
								h5 VOTE
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/rising_star_of_the_year/5.jpg", alt="")
							figcaption
								h5 VOTE
	.container.block-vote(data-scroll-id="10")
		.container-custom.size-1365px
			.title
				h3 BEST STAGE OF V HEARTBEAT
				p.mw-510
					!= "Giải thưởng tôn vinh màn trình diễn được yêu thích. trên sân khấu <span> V HEARTBEAT</span> trong năm 2020"
			.row-wrapper
				.row.no-gutters.list-vote.border-0
					.item-vote(data-value=1)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/1.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=2)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/2.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=3)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/3.jpg", alt="")
							figcaption
								h5 Trịnh Thăng Bình, Liz Kim Cương
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=4)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/4.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=5)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/5.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=6)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/6.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
					.item-vote(data-value=7)
						figure
							.box-img
								img.ofc(src="./assets/images/item-vote/vhb_stage_of_kpop/7.jpg", alt="")
							figcaption
								h5 VOTE
						.box-link
							h5
								a(href="") Link
	.container.block-vote
		.title
			p.mw-100 Vị trí nghệ sĩ tại các mục VOTE được sắp xếp theo thứ tự alphabet
	.btn-selection.shadow
		button#btn-vote(data-url="#") HOÀN TẤT
.vector
	img(src="./assets/images/new-vline/vector.png", alt="")