.index-5
	.iamgeMapCanvas
		.image-canvas
			map(name='imagemap')
				<area shape="circle" coords="1765, 851, 89" target="_blank" alt="LIPB" title="LIPB" />
				<area shape="circle" coords="1580, 943, 89" href="https://channels.vlive.tv/B0C9CD/home" target="_blank" alt="D1Verse" title="D1Verse" />
				<area shape="circle" coords="1211, 837, 103" href="https://channels.vlive.tv/D3C56D" target="_blank" alt="Gin Tuấn Kiệt" title="Gin Tuấn Kiệt" />
				<area shape="circle" coords="1646, 685, 90" href="https://channels.vlive.tv/B51943" target="_blank" alt="Amee" title="Amee" />
				<area shape="circle" coords="1438, 772, 108" href="https://channels.vlive.tv/DF1403/home" target="_blank" alt="Uni5" title="Uni5" />
				<area shape="circle" coords="1710, 483, 92" href="https://channels.vlive.tv/D6D50B" target="_blank" alt="Han Sara" title="Han Sara" />
				<area shape="circle" coords="1404, 491, 151" href="https://channels.vlive.tv/F071D7" target="_blank" alt="Huyna" title="Huyna" />
				<area shape="circle" coords="1590, 227, 149" href="https://channels.vlive.tv/F81E3/home" target="_blank" alt="Ngô Kiến Huy" title="Ngô Kiến Huy" />
				<area shape="circle" coords="1274, 169, 144" href="https://channels.vlive.tv/DB2481" target="_blank" alt="Vũ Cát Tường" title="Vũ Cát Tường" />
				<area shape="circle" coords="143, 886, 95" href="https://channels.vlive.tv/CCC64D" target="_blank" alt="Zero9" title="Zero9" />
				<area shape="circle" coords="343, 943, 79" href="https://channels.vlive.tv/CA369F/home" target="_blank" alt="Jin Ju" title="Jin Ju" />
				<area shape="circle" coords="670, 832, 121" href="https://channels.vlive.tv/A94ABD" target="_blank" alt="Jack KICM" title="Jack KICM" />
				<area shape="circle" coords="436, 744, 107" target="_blank" alt="Trọng Hiếu" title="Trọng Hiếu" />
				<area shape="circle" coords="202, 668, 106" href="https://channels.vlive.tv/F0A1D1/home" target="_blank" alt="Monstar" title="Monstar" />
				<area shape="circle" coords="471, 453, 150" href="https://channels.vlive.tv/FE123" target="_blank" alt="Monsta X" title="Monsta X" />
				<area shape="circle" coords="165, 431, 107" target="_blank" alt="Cá Hồi Hoang" title="Cá Hồi Hoang" />
				<area shape="circle" coords="294, 206, 128" href="https://channels.vlive.tv/AA1AA3" target="_blank" alt="Nguyễn Trần Trung Quân" title="Nguyễn Trần Trung Quân" />
				<area shape="circle" coords="603, 168, 148" target="_blank" alt="Hoàng Thuỳ Linh" title="Hoàng Thuỳ Linh" />
		.image-map
			img(src='./assets/images/index/banner-5.jpg', alt='', usemap='#imagemap')