.index-5
	.iamgeMapCanvas
		.image-canvas
			map(name='imagemap')
				<area shape="circle" coords="1642, 926, 80" href="https://channels.vlive.tv/B0C9CD/home" target="_blank" alt="D1Verse" title="D1Verse" />
				<area shape="circle" coords="1480, 788, 107" href="https://channels.vlive.tv/DF1403/home" target="_blank" alt="Uni5" title="Uni5" />
				<area shape="circle" coords="1721, 738, 87" href="https://channels.vlive.tv/B51943" target="_blank" alt="Amee" title="Amee" />
				<area shape="circle" coords="1671, 543, 92" href="https://channels.vlive.tv/D6D50B" target="_blank" alt="Han Sara" title="Han Sara" />
				<area shape="circle" coords="1403, 518, 150" href="https://channels.vlive.tv/F071D7" target="_blank" alt="Huyna" title="Huyna" />
				<area shape="circle" coords="1587, 258, 148" href="https://channels.vlive.tv/F81E3/home" target="_blank" alt="Ngô Kiến Huy" title="Ngô Kiến Huy" />
				<area shape="circle" coords="1276, 168, 143" href="https://channels.vlive.tv/DB2481" target="_blank" alt="Vũ Cát Tường" title="Vũ Cát Tường" />
				<area shape="circle" coords="1211, 822, 104" href="https://channels.vlive.tv/D3C56D" target="_blank" alt="Gin Tuấn Kiệt" title="Gin Tuấn Kiệt" />
				<area shape="circle" coords="130, 822, 87" href="https://channels.vlive.tv/CCC64D" target="_blank" alt="Zero9" title="Zero9" />
				<area shape="circle" coords="300, 925, 81" href="https://channels.vlive.tv/CA369F/home" target="_blank" alt="Jin Ju" title="Jin Ju" />
				<area shape="circle" coords="649, 807, 118" href="https://channels.vlive.tv/A94ABD" target="_blank" alt="Jack KICM" title="Jack KICM" />
				<area shape="circle" coords="405, 738, 109" target="_blank" alt="Trọng Hiếu" title="Trọng Hiếu" />
				<area shape="circle" coords="202, 622, 108" href="https://channels.vlive.tv/F0A1D1/home" target="_blank" alt="Monstar" title="Monstar" />
				<area shape="circle" coords="186, 340, 121" href="https://channels.vlive.tv/AA1AA3" target="_blank" alt="Nguyễn Trần Trung Quân" title="Nguyễn Trần Trung Quân" />
				<area shape="circle" coords="472, 456, 150" href="https://channels.vlive.tv/FE123" target="_blank" alt="Monsta X" title="Monsta X" />
				<area shape="circle" coords="603, 167, 146" target="_blank" alt="Hoàng Thuỳ Linh" title="Hoàng Thuỳ Linh" />
		.image-map
			img(src='./assets/images/index/banner-5.jpg', alt='', usemap='#imagemap')