.index-6
	.container
		.container-custom.size-1365px
			.info-program
				.btn
					a(href="") THÔNG TIN CHUNG VÀ CÁCH THỨC THAM GIA
				.info-program__wrapper
					.title-table
						h3 THÔNG TIN CHUNG
					p
						!= "Chương trình diễn ra tại <span> NHÀ HÁT HÒA BÌNH</span>"
					p
						!= "<span>NGÀY 16/01/2021,TỪ 14:00 – 21:30</span> với nội dung chính như sau"
					.schedule
						.item
							.time
								p 14:00
							.desc
								p CHECK IN
						.item
							.time
								p 16:30
							.desc
								p FANSIGN
						.item
							.time
								p 18:00
							.desc
								p THẢM VÀNG
						.item
							.time
								p 19:00
							.desc
								p CHƯƠNG TRÌNH CHÍNH
					.title-table
						h3 CÁCH THỨC THAM GIA
					.step-join
						p
							!= "<span>1.</span> Nhập thông tin cá nhân"
						p
							!= "<span>2.</span> Bình chọn <span>VLIVE AWARDS</span>"
						p
							!= "<span>3.</span> Mang ma <span>CODE</span> từ <span>SMS</span> đến sự kiện để check in"
					p
						!= "<span>VLIVE </span> sẽ gửi <span>SMS</span> thông tin trúng vé đến số điện thoại bạn đã điền."
					p
						!= "Danh sách các bạn nhận vé sẽ được đăng tải trên fanpage <span>VLIVE </span> theo link."
.index-7
	.container
		.title-section
			h3 VLIVE YEAR END PARTY
		.block-video
			a(data-fancybox data-type="iframe" data-src="https://www.vlive.tv/embed/20428" href="javascript:;" ).item-video
				.img
					img.ofc(src="./assets/images/new-vline/item-video.png", alt="")
				.desc
					p 2016
			a(data-fancybox data-type="iframe" data-src="https://www.vlive.tv/embed/52251" href="javascript:;" ).item-video
				.img
					img.ofc(src="./assets/images/new-vline/item-video.png", alt="")
				.desc
					p 2017
			a(data-fancybox data-type="iframe" data-src="https://www.vlive.tv/embed/100231" href="javascript:;" ).item-video
				.img
					img.ofc(src="./assets/images/new-vline/item-video.png", alt="")
				.desc
					p 2018
			a(data-fancybox data-type="iframe" data-src="https://www.vlive.tv/embed/167537" href="javascript:;" ).item-video
				.img
					img.ofc(src="./assets/images/new-vline/item-video.png", alt="")
				.desc
					p 2019
.rule-pc(data-scroll-id="5")
	.img
		img(src="./assets/images/new-vline/rule-pc.png", alt="")
.rule-mobile(data-scroll-id="5")
	.img
		img(src="./assets/images/new-vline/rule-mobile.jpg", alt="")
