.index-6
	.container
		.container-custom.size-1365px
			.info-program
				.btn
					a(href="") THÔNG TIN CHUNG VÀ CÁCH THỨC THAM GIA
				.info-program__wrapper
					h3 THÔNG TIN CHUNG
					p
						!= "Chương trình diễn ra tại <span> NHÀ HÁT HÒA BÌNH NGÀY 16/01/2021, TỪ 14:00 – 21:30</span> với nội dung chính như sau 4H - 21H30"
					.schedule
						.item
							.time
								p 14:00
							.desc
								p CHECK IN
						.item
							.time
								p 14:00
							.desc
								p CHECK IN
						.item
							.time
								p 14:00
							.desc
								p CHECK IN
						.item
							.time
								p 14:00
							.desc
								p CHECK IN
