body {
	&.disabled {
		overflow: hidden;
	}
}

[hidden],
.d-none,
.hidden {
	display: none !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.border-0 {
	border-bottom: 0 !important;
}

.btn {
	cursor       : pointer;
	max-width    : 256px;
	width        : 100%;
	margin       : 0 auto;
	padding      : 3px;
	background   : linear-gradient(to right, rgba(84, 246, 255, 1) 0%, rgba(241, 241, 244, 1) 48%, rgba(255, 120, 174, 1) 100%);
	border-radius: 13px;

	&.shadow {
		box-shadow: 0 16px 22px rgba($color: #000000, $alpha: .3);
	}

	button,
	a {
		display      : block;
		max-width    : 249px;
		width        : 100%;
		margin       : 0 auto;
		font-size    : 21px;
		font-weight  : 700;
		color        : #ffffff !important;
		background   : #1A1A1A;
		line-height  : 67px;
		border-radius: 10px;
		border       : 0;
		padding      : 0 50px;
		text-align   : center;
	}

	@media (max-width: 575.98px) {
		max-width: 150px;

		a,
		button {
			font-size  : 14px;
			padding    : 0 25px;
			line-height: 50px;
		}
	}
}

.fancybox-slide--html {
	.fancybox-close-small {
		top          : -25px;
		right        : -25px;
		border-radius: 50%;
		background   : linear-gradient(45deg, rgba(13, 19, 27, 1) 0%, rgba(70, 70, 90, 1) 100%);

		svg {
			path {
				fill: #707070;
			}
		}
	}

	@media (max-width: 767.98px) {
		.fancybox-close-small {
			top  : -3px;
			right: -5px;
		}
	}
}

.fancybox-content {
	overflow: visible;
}

.box-video {
	width : 50%;
	height: 70%;

	@media (max-width: 1024.98px) {
		width : 80%;
		height: 80%;
	}

	@media (max-width: 767.98px) {
		width : 95%;
		height: 50%;
	}
}

.fancybox-close-small {
	opacity: 1;
}

.fancybox-bg {
	background: #000000;
}

::-webkit-scrollbar {
	display: none;
}

#facebook {
	background-image: url(../assets/images/icons/facebook.svg);
	background-size : cover;
	width           : 38px;
	height          : 38px;

	.fb-share-button {
		opacity: 0 !important;
		height : 100%;
		width  : 100%;
	}
}

.ofc {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
}

.title {
	text-align: center;

	h3 {
		font-size  : 48px;
		font-weight: 700;
		color      : #1A1A1A;
	}

	p {
		margin   : 0 auto;
		font-size: 18px;
		color    : rgba($color:#1A1A1A, $alpha: .7);
	}

	@media (max-width: 1024.98px) {
		h3 {
			font-size: 38px;
		}
	}

	@media (max-width: 767.98px) {
		h3 {
			font-size: 28px;
		}

		p {
			font-size: 14px;

			br {
				display: none;
			}
		}
	}
}

.block-vote {
	margin-top: 45px;

	.list-vote {

		.item-vote {

			&.checked {
				figure {
					.box-img {
						img {
							border-radius: 10px;
						}

						&:after {
							content   : '';
							transition: .3s all ease-in-out;
						}
					}
				}
			}

			figure {
				.box-img {
					position     : relative;
					width        : 100%;
					border-radius: 10px;
					overflow     : hidden;
					box-shadow   : 0 3px 27px rgba($color:#54F7FF, $alpha: .4);

					&:after {
						content      : none;
						position     : absolute;
						top          : 0;
						left         : 0;
						width        : 100%;
						height       : 100%;
						border       : 5px solid #ffe600;
						border-radius: 10px;
						transition   : .3s all ease-in-out;
					}
				}

				figcaption {
					margin-top: 40px;

					h5 {
						text-align    : center;
						font-size     : 18px;
						font-weight   : 700;
						text-transform: uppercase;

						@media (max-width: 1439.98px) {
							font-size: 14px;
						}

						@media (max-width: 1199.98px) {
							font-size: 12px;
						}

						@media (max-width: 1024.98px) {
							font-size: 18px;
						}
					}

					.number-vote {
						display        : flex;
						justify-content: center;

						p {
							padding    : 0 10px;
							font-weight: 700;

							@media (max-width: 1199.98px) {
								font-size: 13px;
							}

							@media (max-width: 1024.98px) {
								font-size: 16px;
							}
						}
					}
				}
			}

			&.mb-45px {
				margin-bottom: 45px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media (max-width: 1600px) {
		.list-vote {
			.item-vote {
				figure {
					figcaption {
						margin-top: 15px;
					}
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		.list-vote {
			margin: 30px -15px 0;

			.item-vote {
				flex         : 0 0 33.3333333%;
				max-width    : 33.3333333%;
				padding      : 0 15px;
				margin-bottom: 30px;

				figure {
					figcaption {
						margin-top: 15px;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.list-vote {
			padding-bottom: 0;

			.item-vote {
				flex         : 0 0 50%;
				max-width    : 50%;
				margin-bottom: 15px;
			}
		}
	}
}

.form-vote {
	border-radius: 10px;
	width        : 976px;
	padding      : 75px 140px;

	.title-form {
		text-align   : center;
		font-size    : 24px;
		font-weight  : 700;
		margin-bottom: 55px;
	}

	.form-group {
		display        : flex;
		flex-wrap      : wrap;
		justify-content: space-between;
		margin-bottom  : 35px;

		label {
			flex         : 0 0 50%;
			max-width    : 50%;
			font-size    : 18px;
			color        : #46465A;
			text-align   : right;
			padding-right: 40px;

			span {
				color: red;
			}
		}

		.input-group {
			flex     : 0 0 50%;
			max-width: 50%;

			input {
				width         : 100%;
				color         : #46465A;
				border        : 0;
				border-bottom : 1px solid #E8E8E8;
				padding-bottom: 3px;

				&::placeholder {
					color: #E8E8E8;
				}
			}
		}
	}

	.desc {
		background   : #F2F2F2;
		border-radius: 10px;
		padding      : 20px;

		ul {
			li {
				position     : relative;
				font-size    : 14px;
				color        : #46465A;
				font-style   : italic;
				margin-bottom: 25px;
				padding-left : 15px;

				&:last-child {
					margin-bottom: 0;
				}

				&:after {
					content      : '';
					position     : absolute;
					left         : 0;
					top          : 10px;
					width        : 4px;
					height       : 4px;
					border-radius: 50%;
					background   : #46465A;
				}
			}
		}
	}

	.note {
		font-size    : 14px;
		font-weight  : 700;
		font-style   : italic;
		color        : #FF78AC;
		text-align   : center;
		margin-top   : 12px;
		margin-bottom: 28px;
	}

	@media (max-width: 1440px) {
		width  : 90%;
		padding: 40px 60px;
	}

	@media (max-width: 1024.98px) {

		padding: 50px 70px;

		.form-group {
			label {
				font-size: 16px;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px;

		.title-form {
			font-size    : 18px;
			margin-bottom: 25px;
		}

		.form-group {
			label {
				font-size    : 14px;
				flex         : 0 0 100%;
				max-width    : 100%;
				margin-bottom: 15px;
				text-align   : left;
			}

			.input-group {
				flex     : 0 0 100%;
				max-width: 100%;
			}
		}

		.desc {
			padding: 10px;

			ul {
				li {
					font-size    : 12px;
					margin-bottom: 15px;
				}
			}
		}

		.note {
			font-size: 12px;
		}
	}
}

.form-thank {
	padding          : 45px 120px 75px;
	background-image : url(../assets/images/index/bg-block-thank.png);
	background-size  : cover;
	background-repeat: no-repeat;
	border-radius    : 10px;
	width            : 840px;

	.logo {
		margin-bottom: 15px;

		img {
			display: block;
			margin : 0 auto;
		}
	}

	.desc {
		p {
			text-align: center;
			color     : #1A1A1A;
			font-size : 24px;

			&:nth-child(1),
			&:nth-child(2) {
				font-weight: 700;
			}

			&:nth-child(2) {
				margin-bottom: 40px;
			}
		}
	}

	.lits-button {
		margin-top: 50px;
		display   : flex;
	}

	@media (max-width: 1024.98px) {
		width  : 90%;
		padding: 20px;

		.desc {
			p {
				font-size: 14px;
			}
		}
	}
}