body {
	&.disabled {
		overflow: hidden;
	}
}

[hidden],
.d-none,
.hidden {
	display: none !important;
}

.mt-0 {
	margin-top: 0 !important;
}

.border-0 {
	border-bottom: 0 !important;
}

.btn {
	cursor       : pointer;
	max-width    : 550px;
	width        : 100%;
	margin       : 0 auto;
	padding      : 3px;
	height: 114px;
	border-radius: 60px;

	&.shadow {
		box-shadow: 0 16px 22px rgba($color: #000000, $alpha: .3);
	}

	button,
	a {
		display      : flex;
		font-size    : 60px;
		align-items: center;
		font-weight  : 700;
		height: 100%;
		color        : #000000;
	}

	@media (max-width: 575.98px) {
		max-width: 150px;

		a,
		button {
			font-size  : 14px;
			padding    : 0 25px;
			line-height: 50px;
		}
	}
}

.fancybox-slide--html {
	.fancybox-close-small {
		padding: 0;
		svg {
			path {
				fill: #000000;
			}
		}
	}

	@media (max-width: 767.98px) {
		.fancybox-close-small {
			top  : -3px;
			right: -5px;
		}
	}
}

.fancybox-content {
	overflow: visible;
}

.box-video {
	width : 50%;
	height: 70%;

	@media (max-width: 1024.98px) {
		width : 80%;
		height: 80%;
	}

	@media (max-width: 767.98px) {
		width : 95%;
		height: 50%;
	}
}

.fancybox-close-small {
	opacity: 1;
}

.fancybox-bg {
	background: #000000;
}

::-webkit-scrollbar {
	display: none;
}

#facebook {
	background-image: url(../assets/images/icons/facebook.svg);
	background-size : cover;
	width           : 38px;
	height          : 38px;

	.fb-share-button {
		opacity: 0 !important;
		height : 100%;
		width  : 100%;
	}
}

.ofc {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
}

.vector {
	margin-bottom: 30px;
	margin-top: 30px;
	
}

.block-vote {
	margin-top: 45px;
	
	.list-vote {

		.item-vote {

			&.checked {
				figure {
					.box-img {
						img {
						}

						&:after {
							content   : '';
							transition: .3s all ease-in-out;
						}
					}
				}
			}

			figure {
				position: relative;
				border-radius: 30px;
				overflow: hidden;
				.box-img {
					position     : relative;
					width        : 100%;
					border-radius: 30px;
					overflow     : hidden;
					box-shadow   : 0 3px 27px rgba($color:#54F7FF, $alpha: .4);

					&:after {
						content      : none;
						position     : absolute;
						top          : 0;
						left         : 0;
						width        : 100%;
						height       : 100%;
						border       : 5px solid #ffe600;
						border-radius: 30px;
						transition   : .3s all ease-in-out;
					}
				}

				figcaption {
					position: absolute;
					bottom: 0;
					width: 100%;
					height: fit-content;
					min-height: 40px;
					background: linear-gradient(90deg , #7e2bf9 0%, #ff68da 100%);
					display: flex;
					align-items: center;
					justify-content: center;
					h5 {
						text-align    : center;
						font-size     : 22px;
						font-weight   : 700;
						text-transform: uppercase;
						font-family: SFUIDisplay-Bold;
						color: #000000;
						@media (max-width: 1439.98px) {
							font-size: 14px;
						}

						@media (max-width: 1199.98px) {
							font-size: 12px;
						}

						@media (max-width: 1024.98px) {
							font-size: 16px;
						}
					}

					.number-vote {
						display        : flex;
						justify-content: center;

						p {
							padding    : 0 10px;
							font-weight: 700;

							@media (max-width: 1199.98px) {
								font-size: 13px;
							}

							@media (max-width: 1024.98px) {
								font-size: 16px;
							}
						}
					}
				}
			}

			&.mb-45px {
				margin-bottom: 45px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}


	@media (max-width: 1024.98px) {
		.list-vote {
			margin: 30px -15px 0;

			.item-vote {
				flex         : 0 0 33.3333333%;
				max-width    : 33.3333333%;
				padding      : 0 15px;
				margin-bottom: 30px;
				figure {
					figcaption {
						margin-top: 15px;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.list-vote {
			padding-bottom: 0;

			.item-vote {
				flex         : 0 0 50%;
				max-width    : 50%;
				margin-bottom: 15px;
			}
		}
	}
}

.btn-selection {
	background: linear-gradient(6deg , #ff05f0 0%,#fd71da 100%);
	// max-width: 238px;
	max-width: fit-content;
	width: 100%;
	height: 74px;
	margin: 0 auto;
	button {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background: none;
		border: none;
		font-family: SFUIDisplay-Black;
		justify-content: center;
		font-size: 40px;
		color: #ffffff;
		padding: 0 5px;
		@media (max-width: 767.98px) {
			font-size: 25px;
		}
	}
}

.form-vote {
	border-radius: 10px;
	width        : 976px;
	padding      : 75px 140px;

	.title-form {
		text-align   : center;
		font-size    : 24px;
		font-weight  : 700;
		margin-bottom: 55px;
	}

	.form-group {
		display        : flex;
		flex-wrap      : wrap;
		justify-content: space-between;
		margin-bottom  : 35px;

		label {
			flex         : 0 0 50%;
			max-width    : 50%;
			font-size    : 18px;
			color        : #46465A;
			text-align   : right;
			padding-right: 40px;

			span {
				color: red;
			}
		}

		.input-group {
			flex     : 0 0 50%;
			max-width: 50%;

			input {
				width         : 100%;
				color         : #46465A;
				border        : 0;
				border-bottom : 1px solid #E8E8E8;
				padding-bottom: 3px;

				&::placeholder {
					color: #E8E8E8;
				}
			}
		}
	}

	.desc {
		background   : #F2F2F2;
		border-radius: 10px;
		padding      : 20px;

		ul {
			li {
				position     : relative;
				font-size    : 14px;
				color        : #46465A;
				font-style   : italic;
				margin-bottom: 25px;
				padding-left : 15px;

				&:last-child {
					margin-bottom: 0;
				}

				&:after {
					content      : '';
					position     : absolute;
					left         : 0;
					top          : 10px;
					width        : 4px;
					height       : 4px;
					border-radius: 50%;
					background   : #46465A;
				}
			}
		}
	}

	.note {
		font-size    : 14px;
		font-weight  : 700;
		font-style   : italic;
		color        : #FF78AC;
		text-align   : center;
		margin-top   : 12px;
		margin-bottom: 28px;
	}

	@media (max-width: 1440px) {
		width  : 90%;
		padding: 40px 60px;
	}

	@media (max-width: 1024.98px) {

		padding: 50px 70px;

		.form-group {
			label {
				font-size: 16px;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px;

		.title-form {
			font-size    : 18px;
			margin-bottom: 25px;
		}

		.form-group {
			label {
				font-size    : 14px;
				flex         : 0 0 100%;
				max-width    : 100%;
				margin-bottom: 15px;
				text-align   : left;
			}

			.input-group {
				flex     : 0 0 100%;
				max-width: 100%;
			}
		}

		.desc {
			padding: 10px;

			ul {
				li {
					font-size    : 12px;
					margin-bottom: 15px;
				}
			}
		}

		.note {
			font-size: 12px;
		}
	}
}

.form-login {
	background-image : url(../assets/images/new-vline/popup-bg.png);
	background-size  : cover;
	// background-repeat: no-repeat;
	max-width: 939px;
	width: 100%;
	&#form-vote,
	&#form-thank {
		max-width: 100%;
		width: unset;
		color: #000000;
		text-align: center;
		
		.title-form {
			font-size: 25px;
			margin-bottom: 10px;
			font-family: SFUIDisplay-Bold;
		}
		form {
			> div {
				&::after {
					content: none;
				}
			}
			input {
				text-align: center;
			}
		}
		.common {
			margin-bottom: 25px;
		}
		.note {
			font-size: 18px;
		}
	}
	&#form-thank {
		@media (max-width: 575.98px) {
			.title {
				p {
					font-size: 25px;
				}
			}
			.sub-title {
				font-size: 16px;
			}
			.button-info {
				button {
					height: 65px;
					font-size: 35px;
				}
			}
		}
	}
	&#auto-login {
		@media (max-width: 575.98px) {
			padding-left: 10px;
			padding-right: 10px;
		}
		.sub-title {
			font-size: 16px;
			color: #000000;
			text-align: center;
		}
		.register {
			@media (max-width: 575.98px) {
				span {
					display: none;
				}
				.btn {
					&::after {
						left: 50%;
						transform: translate(-50% , -50%);
					}
				}
			}
		}
	}
	.title {
		p {
			&:first-child {
				text-align: center;
				color: #000000;
				// font-size: 50px;
				font-size: 20px;
				font-family: SFUIDisplay-Black;
				// @media (max-width: 575.98px) {
				// 	font-size: 35px;
				// }
				a {
					word-break: break-word;
				}
			}
			&:not(:first-child) {
				font-size: 25px;
				margin-bottom: 25px;
			}
		}
	}
	.login {
		border-bottom: 1px solid #000000;
	
	}
		input {
			height: 100%;
			width: 100%;
			background: #000000;
			font-size: 25px;
			padding-left: 10px;;
			padding-right: 35px;
			color: rgba($color: #ffffff, $alpha: .7);
			border-radius: 10px;
			
		}
		.id,
		.password,
		.name,	
		.phone,
		.cmnd {
			height: 72px;
			background: linear-gradient(-90deg , #eac722 0% , #f78354 51%, #fd28cb 100%);
			margin-bottom: 10px;
			border-radius: 5px;
			overflow: hidden;
			padding: 2px;
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			max-width: 644px;
			width: 100%;
			margin: 0 auto;
			&::after {
				content: "";
				position: absolute;
				width: 30px;
				height: 30px;
				top: 50%;
				transform: translateY(-50%);
				right: 10px;
				z-index: 10;
				background-size: contain;
			}
		}
		.id {
			&::after {
				background: url(../assets/images/new-vline/id.png) no-repeat;
			}
		}
		.password {
			margin-bottom: 20px;
			&::after {
				background: url(../assets/images/new-vline/password.png) no-repeat;
				width: 42px;
			}
		}
		.common {
			text-align: center;
			margin-bottom: 10px;
			button {
				background: linear-gradient(-90deg , #eac722 0% , #f78354 25%, #fd28cb 53%,#6708ff 99%);
				height: 82px;
				max-width: fit-content;
				border-radius: unset;
				border: none;
				font-size: 50px;
				padding: 0 25px;
				color: #ffffff;
				font-family: SFUIDisplay-Black;
			}
		}
		.forgot-pass {
			text-align: center;
			a {
				color: #000000;
				font-size: 23px;
			}
		}
	.register {
		max-width: 644px;
		width: 100%;
		margin: 0 auto;
		.btn {
			display: block;
			height: 73px;
			border-radius: unset;
			text-align: center;
			max-width: 100%;
			position: relative;
			span {
				color: #ffffff;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				font-size: 25px;
				pointer-events: none;
			}
			&::after {
				content: "";
				position: absolute;
				width: 43px;
				height: 43px;
				top: 50%;
				left: 30px;
				transform: translateY(-50%);
			}
		}
		.btn-google {
			background: #4285f4;
			margin-bottom: 10px;
			&::after {
				background: url(../assets/images/new-vline/google.png) no-repeat;
			}

		}
		.btn-facebook {
			margin-bottom: 10px;
			background: #3b5998;
			&::after {
				background: url(../assets/images/new-vline/facebook-icon.png) no-repeat;
			}
		}
		.btn-vline {
			background: #54f7ff;
			span {
				color: #49515e;
			}
			&::after {
				background: url(../assets/images/new-vline/logo-button.png) no-repeat;
				background-size: contain;
			}
		}
	}
}